<!-- Smart or Bike     -->
<!-- by Brian Cottrell -->
<!-- 03-21-2015        -->

<!DOCTYPE html>
<html>
  <head>
    <style>
      #map-canvas {
        width: 500px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div class='intro'>
      <h1>Sight Cycle</h1> 
      <h2>The intelligent bike light that adapts to its environment, providing superior road safety for the rider and everyone else on the road</h2>
    </div>
    <div>
      <h2>Ready to Ride<h2>
        <img src="/resources/about1.png" alt="Ready to Ride" height="42" width="42">
    </div>
  </body>
</html>