<!-- Smart or Bike     -->
<!-- by Brian Cottrell -->
<!-- 03-21-2015        -->
<!DOCTYPE html>
<html>
    <head>
        <title>Smart or Bike</title>
        <link type="text/css" rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <p>Smart or Bike</p>
    <script src="main.js"></script>
    </body>
</html>